<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
<organization>
	<orgName>Adheris Corporation</orgName>
	<address>St Petersburg</address>
	<revenue>20000000</revenue>
	<departments>
		<name>Development Department</name>
		<employees>
			<name>Tracy Keech</name>
			<age>45</age>
			<sex>Female</sex>
		</employees>
		<employees>
			<name>Mike Hancock</name>
			<age>50</age>
			<sex>Male</sex>
		</employees>
		<employees>
			<name>Tanya</name>
			<age>30</age>
			<sex>Female</sex>
		</employees>
		<employees>
			<name>Amit</name>
			<age>33</age>
			<sex>Male</sex>
		</employees>
	</departments>
	<departments>
		<name>Sqa Department</name>
		<employees>
			<name>Scott</name>
			<age>45</age>
			<sex>Male</sex>
		</employees>
		<employees>
			<name>Brian Cox</name>
			<age>38</age>
			<sex>Male</sex>
		</employees>
		<employees>
			<name>Rob H</name>
			<age>40</age>
			<sex>Male</sex>
		</employees>
	</departments>
	<departments>
		<name>Support Department</name>
	</departments>
	<departments>
		<name>HR</name>
	</departments>
</organization>
<organization>
	<orgName>Catalina Marketing</orgName>
	<address>St Petersburg</address>
	<revenue>20000000</revenue>
</organization>
</config>
